<div class="container">
	<br>
	<h1 class="h1">Conversor</h1>
	<br>

	<p>
		<a class="btn btn-primary" data-bs-toggle="collapse" href="#dolar" role="button" aria-expanded="false"
			aria-controls="collapseExample">
			Dolar
		</a>
	</p>
	<div class="collapse" id="dolar">
		<div class="card card-body"><br>
			<h2>Conversor de Dolar</h2>
			<label>
				Dolar:
				<input type="number" name="graus" [(ngModel)]="dolar">
				<button (click)="converterParaReal()">Dolar</button>
			</label>
			<p>{{ dolar }} dolar = {{ real }} real</p>

			<label>
				Real:
				<input type="number" name="radianos" [(ngModel)]="real">
				<button (click)="converterParaDolar()">Real</button>
			</label>
			<p>{{ real }} real = {{ dolar }} dolar</p>
        </div>
    </div>

            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#euro" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    Euro
                </a>
            </p>
            <div class="collapse" id="euro">
                <div class="card card-body"><br>
                    <h2>Conversor de Euro</h2>
                    <label>
                        Peso:
                        <input type="number" name="graus" [(ngModel)]="peso">
                        <button (click)="converterParaEuro()">Peso</button>
                    </label>
                    <p>{{ peso }} peso = {{ euro }} euro</p>
        
                    <label>
                        Euro:
                        <input type="number" name="radianos" [(ngModel)]="euro">
                        <button (click)="converterParaEuro()">Euro</button>
                    </label>
                    <p>{{ euro }} euro = {{ peso }} peso</p>
        
                </div>

		</div>

        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#afegao" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Afegão
            </a>
        </p>
        <div class="collapse" id="afegao">
            <div class="card card-body"><br>
                <h2>Conversor de Afegão</h2>
                <label>
                    Afegão:
                    <input type="number" name="graus" [(ngModel)]="afegao">
                    <button (click)="converterParaEuro()">Afegao</button>
                </label>
                <p>{{ afegao }} afegao = {{ ariay }} ariay</p>
    
                <label>
                    Ariay:
                    <input type="number" name="radianos" [(ngModel)]="ariay">
                    <button (click)="converterParaEuro()">Euro</button>
                </label>
                <p>{{ ariay }} ariay = {{ afegao }} afegao</p>
    
        </div>
    </div>
</div>
