<div class="container">
	<br>
	<h1 class="h1">Conversor</h1>
	<br>

	<p>
		<a class="btn btn-primary" data-bs-toggle="collapse" href="#GrausxRadiano" role="button" aria-expanded="false"
			aria-controls="collapseExample">
			Dolar
		</a>
	</p>
	<div class="collapse" id="GrausxRadiano">
		<div class="card card-body"><br>
			<h2>Conversor de unidades</h2>
			<label>
				Graus:
				<input type="number" name="graus" [(ngModel)]="dolar">
				<button (click)="converterParaRadianos()">Dolar</button>
			</label>
			<p>{{ dolar }} dolar = {{ real }} real</p>

			<label>
				Radio:
				<input type="number" name="radianos" [(ngModel)]="real">
				<button (click)="converterParaGraus()">Radius</button>
			</label>
			<p>{{ real }} real = {{ dolar }} dolar</p>

		</div>
	</div>
</div>